.bg-nav {
    background-color: #1b7fd0;
    color: #fff;
    font-family: "r-reg";
    font-size: 20px;
    letter-spacing: 0.8px;
}

.bg-nav ul {
    list-style-type: none;

}

.bg-nav li {
    flex-grow: 1;
    padding: 10px 0;
    position: relative;
}

.bg-nav ul span {
    position: absolute;
}

.bg-nav li:hover {
    background-color: #caddea;
}

.bg-nav li:hover span {
    opacity: 0;
}

.bg-nav li:hover a {
    color: #1b7fd0;
}

.bg-nav ul a {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.bg-nav a:hover {
    text-decoration: none;
}

.social {
    justify-content: flex-end;
}

.social a:nth-of-type(2) {
    margin-left: 70px;
}
@media (min-width: 768px) {
    .bg-nav {
        padding-top:12px;
        padding-bottom:12px;
    }
    .bg-nav ul{
        display: flex;
        align-items: center;
    }
}
@media (min-width: 992px) {
    .bg-nav {
        padding-top: 1.05%;
        padding-bottom: 1.05%;
    }
}

@media (min-width: 1200px) {
    .bg-nav {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.bg-nav .sprite {
    margin-left: 12px;
}

.bg-nav p{
    color: #caddea;
    font-family: "r-thin";
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.2px;
}
.bg-nav p span{
    font-family: "r-reg";
}
.burger{
    width: 50px;
}
.menu-btn{
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    
    
    
}
.menu-btn span{
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #ffffff;
}
.menu-btn span:nth-last-of-type(2){
    width: 50px;
    height: 2px;
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: #ffffff;
}
.menu-btn span:nth-last-of-type(3){
    width: 50px;
    height: 2px;
    position: absolute;
    top: 80%;
    left: 0%;
    background-color: #ffffff;
}


.menu{
    position: fixed;
    visibility: hidden;
    top: 100px;
    left: 0;
    background-color: #1b7fd0;
    
    
}
.menu ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    
}

.menu li{
    list-style-type: none;
    
}
.burger:hover .menu{
    
    visibility: visible;

}
.burger-mobile{
    position: absolute;
    right: 20px;
    top: 20px;
}
.burger-mobile .menu ul a{
    color:white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.burger-mobile:hover .menu{
    visibility: visible;
    
}