.top-header {
    background: #013056 url(../img/Bg2.svg) no-repeat center;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icon a{
    font-family: Roboto;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-right: 10px;
    margin-left: 20px;
}

.top-header p {
    color: rgb(225, 224, 238);
    margin-bottom: 0;
}

.top-header p:first-of-type {
    margin-right: 10px;
}

.icon-header {
    display: flex;
    align-items: center;
}

.icon .icon-header:first-child::after {
    content: '';
    width: 41px;
    height: 25px;
    background-position: -5px -45px;
    margin-left: 20px;

}

.icon .icon-header:last-child::after {
    content: '';
    width: 51px;
    height: 30px;
    background-position: -5px -5px;
    margin-left: 10px;

}
.burger{
    width: 50px;
}
.menu-btn{
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    
    
    
}
.menu-btn span{
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #ffffff;
}
.menu-btn span:nth-last-of-type(2){
    width: 50px;
    height: 2px;
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: #ffffff;
}
.menu-btn span:nth-last-of-type(3){
    width: 50px;
    height: 2px;
    position: absolute;
    top: 80%;
    left: 0%;
    background-color: #ffffff;
}


.menu{
    position: fixed;
    visibility: hidden;
    top: 100px;
    left: 0;
    background-color: #1b7fd0;
    
    
}
.menu ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    
}

.menu li{
    list-style-type: none;
    
}
.burger:hover .menu{
    
    visibility: visible;

}
/* .sprite-Chat-Icon {
    width: 51px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-Login-icon {
    width: 41px;
    height: 25px;
    background-position: -5px -45px;
} */